{{>layouts/header}}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> 저자 관리 </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">저자 관리</a></li>
                <li class="breadcrumb-item active" aria-current="page">저자 목록</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">저자 목록</h4>
                    <!--<p class="card-description"> Add class <code>.table-dark</code>-->
                    <p style="text-align: end"><button type="button" class="btn btn-primary btn-fw" onclick="move_location('/author/save')">등록</button></p>
                    <div class="table-responsive">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> 한글 이름 </th>
                                    <th> 한문 이름 </th>
                                    <th> 영문 이름 </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#list}}
                                    <tr>
                                        <td>{{id}}</td>
                                        <td>{{name1}}</td>
                                        <td>{{name2}}</td>
                                        <td>{{name3}}</td>
                                    </tr>
                                {{/list}}
                                {{^list}}
                                   <tr>
                                       <td colspan="4">
                                           데이터 없음
                                       </td>
                                   </tr>
                                {{/list}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layouts/footer}}